<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<script src="/angular/angular.js"></script>
	<script src="/angular-route/angular-route.js"></script>

	<script src="/js/ajApp.js"></script>
	<script src="/js/ajController.js"></script>
</head>

<body>

<div ng-view></div>

</body>
</html>